[Unit]
Description=SerialOSC Daemon

[Service]
ExecStart=/usr/local/bin/start-serialoscd
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
